/* เลือกสีพื้นหลังหน้าเว็บ */
body {
    background-color: hsl(0, 0%, 46%); /* สีเทาอ่อน */
    font-family: Arial, sans-serif; /* เปลี่ยนแบบอักษรเป็น Arial หรือแบบอักษรอื่น */
}

/* จัดกล่องข้อความหัวเรื่อง */
h1 {
    color: #333; /* สีข้อความเป็นสีเทาเข้ม */
}

/* จัดกล่องข้อความย่อย */
h3 {
    color: #0066cc; /* สีข้อความเป็นสีน้ำเงิน */
}

/* รูปแสดงความสวยงาม */
img {
    border-radius: 50%; /* ทำให้รูปเป็นรูปวงกลม */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* เพิ่มเงาให้กับรูป */
}

/* จัดรูปแบบรายการลิสต์ */
ul, ol {
    list-style: none; /* ไม่แสดงลูกศรหรือตัวเลขข้างหน้ารายการลิสต์ */
}

/* กล่องเทาขอบรอบข้อความที่มีข้อมูลเวลาทำงาน */
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 400px; /* จำกัดความกว้างของตาราง */
    margin-bottom: 20px; /* ขยับตารางลงด้านล่าง */
}

table, th, td {
    border: 1px solid #000000; /* กำหนดเส้นขอบของตาราง */
}

th, td {
    padding: 8px; /* ระยะห่างของข้อความจากขอบตาราง */
    text-align: left; /* จัดข้อความในตารางเป็นชิดซ้าย */
}

/* การจัดรูปแบบระดับความสามารถ (Skills) */
.skill-table {
    width: 50%;
}

.skill-table td {
    padding: 8px;
}

/* ลิงค์การติดต่อ */
a {
    color: #0066cc; /* เปลี่ยนสีลิงค์เป็นสีน้ำเงิน */
    text-decoration: none; /* ไม่ให้มีเส้นใต้งานลิงค์ */
}

/* สร้างการเลื่อนเมาส์ (hover) ของลิงค์ */
a:hover {
    text-decoration: underline; /* ให้มีเส้นใต้งานลิงค์เมื่อเลื่อนเมาส์เหนือลิงค์ */
}
